<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1HgUld6fQnAqVyoVm3xk5PJAUdM8jQsY</string>
	<key>BUNDLE_ID</key>
	<string>capstone.FridgeScanAI</string>
	<key>GCM_SENDER_ID</key>
	<string>239796498225</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:239796498225:ios:cbff06384ce1d0b1214a10</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>fridgescan-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>fridgescan-ai.firebasestorage.app</string>
	<key>CFBundleDisplayName</key>
	<string>FridgeScanAI</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>FridgeScanAI</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to scan fridge contents.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
</dict>
</plist>
